<div class="title-virus">
    <img target="_blank" src="assets/img/icons/icono-virus.png" alt="">
    <span>
        Base de conocimiento en epidemias y COVID-19
    </span>
    <span class="pipe-title-virus">
        | 
    </span>
    <span>Más de 13,000 artículos</span>
</div>
<div class="navigation-searches">
    <!-- <a [routerLink]="['/busqueda-general', 'ciencia']" class="selected-searcher"> -->
    <a [routerLink]="['/busqueda-general', 'covid-19']" [ngClass]="{'selected-searcher': sectionGeneral}">
        <img target="_blank" src="assets/img/icons/buscador.png" alt=""> Buscador
    </a>
    <!-- <a [routerLink]="['/busqueda-general', 'clave']"> -->
    <a [ngClass]="{'selected-searcher': sectionKey}">
        <img target="_blank" src="assets/img/icons/palabra-clave.png" alt=""> Artículos por palabra clave
    </a>
    <!-- <a [routerLink]="['/busqueda-general', 'conocimiento']"> -->
    <a href=" http://amelica.org/epidemics/" target="_blank">
        <img target="_blank" src="assets/img/icons/red.png" alt=""> Representación del conocimiento
    </a>
    <!-- <a [routerLink]="['/busqueda-general', 'país']"> -->
    <a [routerLink]="['/busqueda-pais', '73']" [ngClass]="{'selected-searcher': sectionCountry}">
        <img target="_blank" src="assets/img/icons/por-pais.png" alt=""> Artículos por país
    </a>
    <!-- <a [routerLink]="['/busqueda-general', 'base-conocimiento']"> -->
    <a href="http://sparql.amelica.org/knowledgebase/epidemics/datastore" target="_blank">
        <img target="_blank" src="assets/img/icons/sparcql.png" alt=""> Base de conocimiento en SPARQL
    </a>
    <!-- <a [routerLink]="['/busqueda-general', 'acerca-de']"> -->
    <a [ngClass]="{'selected-searcher': sectionAbout}">
        <img target="_blank" src="assets/img/icons/acerca-de.png" alt=""> Acerca de
    </a>
</div>