<div class="header">
    <div class="navigation">
        <div class="logo-redalyc">
            <img class="to-home" id="to-home" src="assets/img/shared/logo-redalyc-fondo-oscuro.png">
        </div>
        <div class="links-home">
            <span class="menu-visible boton-menu-about ng-binding">Acerca de Redalyc</span>
            <span class="menu-visible ng-binding" id="diamont-access">Accesso Abierto Diamante</span>
            <span class="menu-visible ng-binding" id="principios-valores">Principios y Valores</span>
            <span class="menu-visible boton-menu-tecn ng-binding">Tecnología de Publicación Digital (XML JATS)</span>
            <span class="menu-visible jornals-indexation boton-menu-index ng-binding">Indexación de Revistas</span>
            <span class="menu-visible ng-binding" id="services">Servicios</span>

            <!--  <div id="menu-indexation">
                <a class="consolidated-option" href="http://wwww.redalyc.org"><span class="ng-binding">Índice de Revistas Consolidadas Redalyc</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <a class="consolidated-item ng-binding" href="postulacion.oa?q=criterios">Criterios de evaluación</a>
                <a class="consolidated-item ng-binding" href="postulacion.oa?q=proceso">Proceso de postulación</a>
                <a class="proces-option" href="http://portal.amelica.org"><span class="ng-binding">Índice de Revistas en consolidación AmeliCA</span><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <a class="proces-item ng-binding" href="http://portal.amelica.org/microPortal.oa?opcion=postula">Criterios de evaluación</a>
                <a class="proces-item ng-binding" href="http://portal.amelica.org/microPortal.oa?opcion=postula">Proceso de postulación</a>
            </div>
            <div id="menu-tecnologias">
                <a href="http://marcalyc.redalyc.org"><span class="ng-binding">Marcalyc Sistema de Marcación (XML JATS)</span></a>
                <a><span class="ng-binding">Integración OJS</span></a>
                <a href="http://marcalyc.redalyc.org/ayuda"><span class="ng-binding">Capacitación XML JATS</span></a>
                <a><span class="ng-binding">Generación Automática de ePUB, PDF HTML</span></a>
                <a><span class="ng-binding">Visor de artículos</span></a>
                <a><span class="ng-binding">Visor móvil de articulos</span></a>
            </div>
            <div id="menu-about">
                <a href="/redalyc/acerca-de/mision.html"><span class="ng-binding">Misión</span></a>
                <a href="/redalyc/acerca-de/comite.html"><span class="ng-binding">Consejo asesor</span></a>
                <a href="/redalyc/acerca-de/directorio.html"><span class="ng-binding">Directorio</span></a>
                <a href="/redalyc/acerca-de/noticias.html"><span class="ng-binding">Cronología</span></a>
                <a href="/redalyc/acerca-de/reconocimientos.html"><span class="ng-binding">Reconocimientos internacionales</span></a>
                <a href="/redalyc/acerca-de/oai-pmh.html"><span class="ng-binding">OAI-PMH</span></a>
                <a href="/redalyc/acerca-de/buscador.html"><span class="ng-binding">Redalyc en tu sitio web</span></a>
                <a href="/redalyc/acerca-de/usolegal.html"><span class="ng-binding">Uso legal</span></a>
                <a href="/redalyc/acerca-de/productos.html"><span class="ng-binding">Publicaciones</span></a>
            </div> -->
        </div>
        <div class="languages-social-netwoks">
            <span>ESP</span>
            <span>ENG</span>
            <a href="https://twitter.com/Redalyc" target="_blank"><img class="instragram" src="assets/img/shared/ig.png"></a>
            <a href="https://twitter.com/Redalyc" target="_blank"><img class="twitter" src="assets/img/shared/tw.png"></a>
            <a href="https://www.facebook.com/Redalyc/" target="_blank"><img class="facebook" src="assets/img/shared/face.png"></a>

        </div>
    </div>

    <div class="current-section">
        <span>Redalyc > Base de conocimiento sobre epidemias y COVID-19 > Búsqueda General</span>
    </div>
</div>