<section id="general">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#ffffff" type="square-loader" [fullScreen]="true">
        <p class="loading">Loading Articles...</p>
    </ngx-spinner>

    <section id="header">
        <span>header</span>
    </section>

    <section id="banner" class="flex">
        <div class="flex searcher-title">
            <img src="assets/img/shared/buscador-institucionmdpi.png" />
            <p>Búsqueda General</p>
        </div>

        <div class="searcher">
            <input class="searcher-text" #search (keyup.enter)="searchArticles(search.value)" type="text" placeholder="Buscar" required />
            <input class="searcher-icon" type="image" src="assets/img/shared/buscador-institucionmdpi.png" (click)="searchArticles(search.value)" name="boton-buscar-articulo" alt="Buscar" required />
        </div>
    </section>

    <section id="sections" *ngIf="results">

        <div class="filters">
            <div class="text-filters">
                <img src="assets/img/shared/filtro.png" />
                <span>Filtros de Búsqueda</span>
            </div>
            <app-filters></app-filters>

        </div>

        <div class="content-general">
            <div class="container-sections">
                <div class="selected sections-aling">
                    <img src="assets/img/shared/articulos-act.png" />
                    <span>Articulos de revista</span>
                </div>
                <div class="view-results">
                    <span>Modo de visualizar resultados</span>
                </div>
                <div class="sections-aling" (click)="changeView(false)" [ngClass]="{'activate': !view, 'selected': !view, 'select': view}">
                    <img [src]="imgTable" />
                    <span class="view-table">Tabla</span>
                </div>
                <div class="sections-aling" (click)="changeView(true)" [ngClass]="{'activate': view, 'selected': view, 'select': !view}">
                    <img [src]="imgList" />
                    <span>Lista</span>
                </div>
            </div>
            <div>
                <div class="balloons-component">
                    <app-balloons></app-balloons>
                </div>

                <div class="views-components">
                    <app-target [articles]="articles" *ngIf="view"></app-target>
                    <app-table [articles]="articles" *ngIf="!view"></app-table>
                </div>

                <div class="pagination-component">
                    <app-pagination (click)="goUp()"></app-pagination>
                </div>
            </div>
        </div>
    </section>

    <section id="no-results" *ngIf="!results">
        <div class="message-no-results">
            <span class="color-blue">No se encontraron resultados</span>
            <br/><br/>
            <span class="color-gray">Sugerencias:</span>
            <ul class="color-gray">
                <li>Prueba con una b&uacute;squeda nueva </li>
            </ul>
        </div>
    </section>

    <section id="footer">
        <span>footer</span>
    </section>
</section>