#header {
    background-color: aqua;
}

#banner {
    align-self: center;
    align-items: center;
    font-family: Barlow-Regular;
}

#banner img {
    margin: 40px 40px 40px 80px;
}

.searcher-title {
    align-items: center;
    width: 30%;
}

.searcher {
    width: 70%
}

.searcher-text {
    width: 45%;
    margin-left: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Barlow-Regular;
    font-size: 16px;
    padding: 2px 20px 3px 5px;
}

.searcher-icon {
    position: relative;
    height: 15px;
    left: -21px;
    top: 3px;
}

.flex {
    display: flex;
}

#sections {
    display: grid;
    grid-template-areas: "filters content-general";
    grid-template-columns: 30% 70%;
    min-height: 100vh;
}

.filters {
    grid-area: filters;
    border-right: 1px solid #f1f1f1;
}

.content-general {
    grid-area: content-general;
}

#sections img {
    margin: 10px;
}

.container-sections {
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    height: 47px;
}

.selected {
    color: #4762b2;
    cursor: default;
}

.activate {
    color: #4762b2;
}

.select {
    cursor: pointer;
}

.sections-aling {
    display: contents;
}

.view-results {
    margin: 0% 5% 0% 30%;
}

.view-table {
    margin-right: 10px;
}

.text-filters {
    background-color: #003B60;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 71px;
}

.balloons-component {
    margin-top: 15px
}

.pagination-component {
    margin-bottom: 15px;
}

#footer {
    background-color: chartreuse;
}


/* Estilos Spinner*/

.loading {
    color: white;
    padding-top: 50px;
}


/* Terminan estilos Spinner*/


/* Estilos cuando no hay resultados de articulos */

#no-results {
    width: 100vw;
    height: 50vh;
    display: inline-block;
    margin: 30px auto;
}

.message-no-results {
    width: 26%;
    margin: 0px auto;
}

.color-gray {
    color: #b3b3b3;
}

.color-blue {
    color: #1252b2;
}


/* Terminan estilos cuando no hay resultados de articulos */