<section id="general">

    <section id="header">
        <app-header [currentSection]="'> Acerca de'"></app-header>
    </section>

    <section id="searches">
        <app-banner-searches [sectionAbout]=true></app-banner-searches>
    </section>

    <section id="content-about">
        <div>
            <h2 class="title">{{ 'estatica.contexto' | translate }}</h2>

            <p>
                {{ 'estatica.parrafo1' | translate }}
            </p>
        </div>

        <div>
            <h2 class="title">{{ 'estatica.descripcion' | translate }}</h2>

            <p>
                {{ 'estatica.parrafo2' | translate }}
            </p>

            <p>
                {{ 'estatica.parrafo3' | translate }}
            </p>

            <p>
                {{ 'estatica.parrafo4' | translate }}
            </p>
        </div>

        <div>
            <h2 class="title">{{ 'estatica.metodologia' | translate }}</h2>

            <p>
                {{ 'estatica.parrafo5' | translate }}
                <a class="link-section" href="https://www.powerthesaurus.org/" target="_blank">powerthesaurus.org</a>{{ 'estatica.parrafo6' | translate }}
            </p>

            <p class="quote">
                <sup> 1 </sup> &nbsp; &nbsp; {{ 'estatica.parrafo7' | translate }}
            </p>

            <p [innerHTML]="'estatica.parrafo8' | translate">
            </p>
        </div>

        <div>
            <h2 class="title">{{ 'estatica.referencias' | translate }}</h2>

            <p class="reference">
                1.&nbsp;&nbsp;Keßler, C.; d’Aquin, M.; Dietze, S. Linked Data for Science and Education. Semantic Web Journal 2013, 4 (1), pp. 1-2.
            </p>

            <p class="reference">
                2.&nbsp;&nbsp;Allemang, D.; Hendler, J. Semantic Web for the Working Ontologist, 3rd ed. Morgan Kaufmamm: Waltham, Ma, Estados Unidos, 2011; ISBN 978-0123859655.
            </p>

            <p class="reference">
                3.&nbsp;Chan, L.; Cuplinskas, D.; Eisen, M.; Friend, F.; Genova, Y.; Guédon, J.-C.; et al. Budapest Open Access Initiative, 2002. Available online: http://www.soros.org/openaccess/read.shtml
            </p>

            <p class="reference">
                4.&nbsp;&nbsp;Max Planck Society. Berlin Declaration on Open Access to Knowledge in the Sciences and Humanities, 2003. Available online: http://openaccess.mpg.de/Berlin-Declaration
            </p>

            <p class="reference">
                5.&nbsp;&nbsp;Brown, P.; Cabell, D.; Chakravarti, A.; Cohen, B.; Delamothe, T.; Eisen, M.; et al. Declaración de Bethesda sobre Publicación de Acceso Abierto, 2003. Available online: http://ictlogy.net/articles/bethesda_es.html
            </p>

            <p class="reference">
                6.&nbsp;&nbsp;Albert, P.; Holmes, K.; Börner, K.; Conlon, M. Research Discovery through Linked Open Data. IN 12th ACM/IEEE-CS Joint Conference on Digital Libraries, Nueva York: ACM, USA, 2012, pp. 429-430.
            </p>

            <p class="reference">
                7.&nbsp;&nbsp;Wiederhold, G. Foreword: on the barriers and future of knowledge discovery. In Advances in Knowledge Discovery and Data Mining; Fayyad, U., Piatetsky-Shapiro, G., Smyth, P., Uthurusamy, R.; AAAI Press, 1996.
            </p>

            <p class="reference">
                8.&nbsp;&nbsp;Frawley, W. J., Piatetsky-Shapiro, G., Matheus, C. J. Knowledge Discovery in Databases: An Overview. AI Magazine 1992 ,13 (3), 57-70.
            </p>

            <p class="reference">
                9.&nbsp;&nbsp;IBM. Knowledge Discovery and Data Mining. Available online: http://researcher.watson.ibm.com/researcher/view_group. php?id=144 (accessed on 2015)
            </p>

            <p class="reference">
                10.&nbsp;&nbsp;Becerril-García, A., Aguado-Lopez E. A Semantic Model for Selective Knowledge Discovery over OAI-PMH Structured Resources. Information 2018, 9 (6), 144. https://doi.org/10.3390/info9060144
            </p>

            <p class="reference">
                11.&nbsp;&nbsp;Becerril García, A., Lozano Espinosa, R., Molina Espinosa, J. M. Semantic Approach to Context-Aware Resource Discovery over Scholarly Content Structured with OAI-PMH. Computación y Sistemas 2016, 20 (1), 127-142.
            </p>

            <p class="reference">
                12.&nbsp;&nbsp;Becerril Garcia, A.; Lozano Espinosa, R.; &amp; Molina Espinosa, J. Modelo para consultas semánticas sensibles al contexto sobre recursos educativos estructurados con OAI-PMH. Proceedings of the Encuentro Nacional de Ciencias de la Computación.
                ENC 2014. Nova Universitas: Oaxaca, México, 2014, pp. 1- 15.
            </p>

            <p class="reference">
                13.&nbsp;Ministerio para la Ciencia e Innovación de España. Informe Modelos de Metadatos para Contenidos Multimedia. Available online: http://omediadis.udl.cat/html/deliverables/215-Modelos_Metadatos_Contenidos_Multimedia/
            </p>

            <p class="reference">
                14.&nbsp;&nbsp;Haslhofer, B., &amp; Schandl, B. The OAI2LOD Server: Exposing OAI-PMH Metadata as Linked Data. International Workshop on Linked Data on the Web (LDOW2008). Beijing, China, 2008.
            </p>

            <p class="reference">
                15.&nbsp;&nbsp;Bizer, C., Cyganiak, R. D2R Server – Publishing Relational Databases on the Semantic Web 2006. Available online: http://wifo503.informatik.uni-mannheim.de/bizer/pub/Bizer-Cyganiak-D2R-Server-ISWC2006.pdf
            </p>

            <p class="reference">
                16.&nbsp; &nbsp;SIMILE. OAI2RDF 2006. Available online: http://simile.mit.edu/repository/RDFizers/oai2rdf/
            </p>

            <p class="reference">
                17.&nbsp; &nbsp;Ameen, A., Rahman Khan, K., &amp; Rani, B. Semi-Automatic Merging of Ontologies using Protégé. International Journal of Computer Applications 2014, 85 (12), 35-42.
            </p>

            <p class="reference">
                18.&nbsp; &nbsp;Panagiotopoulos, I., Kalou, A., Pierrakeas, C., &amp; Kameas, A. An Ontology-Based Model for Student Representation in Intelligent Tutoring Systems for Distance Learning. In I. M. Lazaros Iliadis (Ed.), Artificial Intelligence Applications
                and Innovations. Springer: Halkidiki, Grecia, 2012.
            </p>

            <p class="reference">
                19.&nbsp; &nbsp;Apache Software Foundation. Available online: http://jena.apache.org/about_jena/about.html
            </p>

            <p class="reference">
                20.&nbsp; &nbsp;Dentler, K., Cornet, R., Teije, A., &amp; de Keizer, N. Comparison of Reasoners for large Ontologies in the OWL 2 EL Profile. In Semantic Web; I. Press, Ed, 2008; pp. 1-5.
            </p>

            <p class="reference">
                21.&nbsp; &nbsp;Becerril-García, A., Aguado-López, E., Rogel-Salazar, R., Garduño-Oropeza, G., Zúñiga-Roca, M. De un modelo centrado en la revista a un modelo centrado en entidades: la publicación y producción científica en la nueva plataforma Redalyc.org.
                (I. U. Oviedo, Ed.) Aula Abierta 2012, 40 (2), 53-64.
            </p>

            <p class="reference">
                22.&nbsp; &nbsp;Segaran, T., Evans, C., &amp; Taylor, J. (2009). Programming the semantic web, 1st. ed.; O’reilly: Estados Unidos, 2009, pp. 302.
            </p>
        </div>
    </section>

    <section id="footer">
        <app-footer></app-footer>
    </section>
</section>