<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <div class="overlay-content">
        <div (click)="toSearcher()" class="op-menu-section btn-search" id="btn-search">
            <img src="assets/img/home/busqueda.png"><span>{{ 'navegacion.buscador' | translate }}</span>
        </div>
        <div (click)="toCould()" class="op-menu-section btn-tema" id="btn-articles">
            <img src="assets/img/home/palabra_clave.png"><span>{{ 'navegacion.clave' | translate }}</span>
        </div>
        <div (click)="toNetwork()" class="op-menu-section btn-representacion" id="btn-representacion">
            <img src="assets/img/home/red.png"><span>{{ 'navegacion.conocimiento' | translate }}</span>
        </div>
        <div (click)="toMap()" class="op-menu-section btn-pais" id="btn-pais">
            <img src="assets/img/home/por_pais.png"><span>{{ 'navegacion.pais' | translate }}</span>
        </div>
        <div (click)="toSparql()" class="op-menu-section btn-sparql" id="btn-sparql">
            <img src="assets/img/home/sparql.png"><span>{{ 'navegacion.sparql' | translate }}</span>
        </div>
        <div (click)="toAbout()" class="op-menu-section btn-recientes" id="btn-recientes">
            <img src="assets/img/home/acerca.png"><span>{{ 'header.acerca.epidemics' | translate }}</span>
        </div>
    </div>
</div>