.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgb(55,70,78);
    background-color: rgba(55,70,78, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .op-menu-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin: 10px 40px;
    font-size: 15pt;
  }
  .op-menu-section :hover{
    box-shadow: 0px 15px 20px rgb(0 0 0 / 30%);
    border-radius: 6px;
  }
    
  @media only screen and (max-width: 600px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
    .op-menu-section{
        font-size: 13pt;
    }
  }